#sidebar
  width: sidebar-width
  float: left
  padding-bottom: 200px
  padding-top: 20px
  opacity: 0.8
  margin-left: sidebar-width * -1
  display: none
  @media mq-normal
    display: block

.sidebar-title
  margin-top: 20px
  padding: 3px 0
  font-family: font-title
  font-weight: bold
  display: block
  line-height: 0

summary
  display: block
  cursor: pointer
  background:none
  outline:none

summary::-webkit-details-marker
  display: inline-block

.sidebar-link
  font-family: font-title
  display: block
  color: color-default
  text-decoration: none
  padding-top: 20px
  padding: 10px 0
  margin-left: 20px
  line-height: 1
  position: relative
  width: 100%
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  &.current
    color: color-link
  &:hover
    color: color-link-hover
